spring:
  datasource:
    url: "jdbc:mysql://localhost:3307/test?useSSL=false&serverTimezone=UTC"
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  sql:
    init:
      platform: mysql
      mode: always

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

example:
  service: licensing-service
  version: 1.0.0
  database: mysql
